@use "variables" as v;
@import "../../../../node_modules/bulma/bulma.sass";




.navbar-menu {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  background-color: v.$primary-color;
  padding-top: 10%;
}

.navbar-start{
  flex-direction: column;
  width: 100%;
  color: v.$text-color;
  p{
    color: v.$text-color;
  }

  .buttons{
    justify-content: space-between;
    width: 100%;
  }

}

#main{
  min-height: 100vh;
}
