@use "variables" as v;
@import "~bulma/css/bulma.css";


.custom-navbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: v.$primary-color;
  box-shadow: 2px 0 5px black;
  display: flex;
  flex-direction: column;
  z-index: 1000;

  .navbar-menu {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    flex-grow: 1;
    overflow-y: auto;
  }

  .navbar-start{
    flex-direction: column;
    color: v.$text-color;
    p{
      color: v.$text-color;
    }
  }
}